@downloadpopup_width:550px;

#notifications {
  margin-top: 2px;
  float: left;
}
#notifications a {
  margin-right: 5px;
}
#emails{
  display: none;
  max-width: 300px;
  width: 300px;
  margin-top: 5px;
}

#emails_div{
  padding-bottom: 10px;
}

#downloadpopup {

  .absolute-landscape-center(@downloadpopup_width);

  width: @downloadpopup_width !important;

  div.lheader {
    background: url("../img/boxes/box_medium_top.png") no-repeat left top !important;
    width: @downloadpopup_width !important;
  }

  div.lfooter {
    width: @downloadpopup_width !important;
    background: url("../img/boxes/box_medium_bottom.png") no-repeat left bottom !important;

    &.white {
      width: @downloadpopup_width !important;
      background: url("../img/boxes/box_medium_bottom.png") no-repeat left top !important;
    }
  }

  ul {
    list-style: none;
  }

  div.content h3 {
    border-bottom: solid 1px #E0E0E0;
  }

  div.downloadpopup_section{
    clear: left;
  }

  .tagit-label {
    padding-right:6px;
  }

  z-index:100000;

  div.content {
    height: 320px !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    padding-bottom: 18px !important;

    h2 {
      padding: 0;
      margin: 0;
    }

    div.scrollpane {
      overflow: auto;
      outline: none;
      height: 100% !important;
      width: @downloadpopup_width - 34 !important;
      .jspVerticalBar{right: 4px; }
      .jspCap { display: block; }
      .jspCapBottom { height: 0; width: 5px; }
      .jspArrowUp { height: 0; }

    }

    ul { margin: 0 0 10px 0; }

    background: url("../img/boxes/box_medium_bkg.png") repeat-y !important;
  }
}

.download_format_description {
  color: #999 !important;
  margin-left: 4px !important;
  font-size: 11px;
}

