<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %logger{36} %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.gbif" level="DEBUG"/>
  <logger name="org.openqa.selenium" level="DEBUG"/>
  <logger name="com.opensymphony" level="WARN"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="org.struts" level="WARN"/>
  <logger name="org.tuckey" level="WARN"/>
  <logger name="freemarker" level="WARN"/>
  <logger name="com.gargoylesoftware" level="WARN"/>
  <logger name="cache" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
